*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Concert One', cursive;
}

html, body {
	scroll-behavior: smooth;
	background-color: black;
}

.numbertext {
 font-size: 30px;
}


.bg{
	transition: 0.5s ease;
}

.bg.scrolled{
	background-color: #0d0d0d;
}

.step3{
	margin-top: 10px;
}

.navbar{
	position: fixed;
	top: 0;
	z-index: 1;
	padding: 20px 0;
	text-shadow: 5px 3px 3px #000000;
}
.navbar .logo{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 750;
	letter-spacing: 2px;
	font-family: 'Concert One', cursive;

}
.navbar ul .nav{
	margin-left: 15%;
}

.navbar ul.nav li.active,
.navbar ul.nav li:hover
{
	background:rgba(255, 255, 255, 0.5);
	color: #000;
}

.navbar ul.nav li a{
	color:#fff;
	font-size: 1em;
	font-weight: 500;
}

.navbar ul.nav li .active a,
.navbar ul.nav li .active:hover a{
	color: #000;
}

/*slider*/

#jumbotron-index {
		background: 
	linear-gradient(
		rgba(0,0,0,0),
		rgba(0,0,0,0)),
		url('../img/galleryback4.jpg');
	;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	border-radius: 0;
	margin-bottom: 0;	
	font-family: 'Lobster', cursive;


}

#jumbotron-index .landing-index {
	color:#f2f2f2;
	font-size:5em;
	padding-top: 25vh;
	letter-spacing: 5px;
	margin-top: 20vh;
	text-shadow: 7px 3px 2px black;
}

#landing-caption{
	font-family: 'Concert One', cursive;
	color:#f2f2f2;
	font-size:3.5em;
	padding-top: 3vh;
	letter-spacing: 5px;
	text-shadow: 7px 3px 2px black;

}



#btnknowabout {
	margin-top: 20px;
	align-items: center;
	font-size:2.5em;
	font-family: 'Lobster', cursive;
	border-radius: 50px;
}


#mainFooter p{
	text-align: center;
	font-family: 'Lobster', cursive;
	background: black;
	margin-bottom: -20px;
	border-color: white;
}



/*about*/
#jumbotron-about{
	background: 
	linear-gradient(
		rgba(0,0,0,0),
		rgba(0,0,0,0)),
		url('../img/imgabout.jpg');
	;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45vh;
	border-radius: 0;
	margin-bottom: 0;	
	font-family: 'Lobster', cursive;
}

#landing-about{

	color:#f2f2f2;
	font-size:5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-shadow: 5px 3px 2px #000000;
}



p {
	color:white;
	text-align: left;
	font-size: 30px;
}


#jumbotron-road{
	background: 
	linear-gradient(
		rgba(0,0,0,0),
		rgba(0,0,0,0)),
		url('../img/champion.jpg');
	;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 0;	
	font-family: 'Lobster', cursive;

}

 
#landing-road{

	color:#f2f2f2;
	font-size:5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-shadow: 5px 3px 2px #000000;
}


#btnmake{
	font-family: 'Lobster', cursive;
}
#step2{
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#step3{
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#step4{
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#step5{
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#step6{
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#grind{
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#step8{
	margin-top: 10vh;
	margin-bottom: 5vh;
}

/*events*/
#jumbotron-event{
	background: 
	linear-gradient(
		rgba(0,0,0,0),
		rgba(0,0,0,0)),
		url('../img/galleryback2.jpg');
	;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45vh;
	margin-bottom: 0;
	margin-left: 0;	
	margin-right: 0;
	font-family: 'Lobster', cursive;

}

#landing-event{
	color:#f2f2f2;
	font-size:5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-shadow: 5px 3px 2px #000000;
}

#jumbotron-event2{
	background: 
	linear-gradient(
		rgba(0,0,0,0),
		rgba(0,0,0,0)),
		url('../img/galleryz.jpg');
	;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
	height: 50vh;
	margin-bottom: 10px;
	font-family: 'Lobster', cursive;

}

#landing-event2{
	color:#f2f2f2;
	font-size:5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-shadow: 5px 3px 2px #000000;
}

#ghost img{
	height: 190px;
}

#ghost .card{
	height: 200px;
}

#fire img{
	height: 157px;
}


#ice img{
	height: 160px;
}

#fairy img{
	height: 155px;
}

#psy img{
	height: 155px;
}

#dark img{
	height: 155px;
}

#grass img{
	height: 145px;
}
#steel img{
	height: 145px;
}
#shiny img{
	height: 145px;

}
#legendary img{
	height: 145px;
}
#legendary #legendarytxt{
	font-size: 24px;
}

#al img{
	height: 145px;

}








#carousel-home {
	margin-top: 2vh;
	margin-bottom: 2vh;
}


#carousel-home img {
	height: 50vh;
}

.carrouselh4 {
text-shadow: 3px 3px 20px #000000
}

.carousel-caption{
text-shadow: 3px 3px 20px #000000
}

#carrouselp {
text-shadow: 5px 3px 2px #000000
}


li {
	font-size: 25px;
}


#paragraphNews {
	color:white;
	font-size: 15px;
}
/*contact us*/
#jumbotron-contact{
	background: 
	linear-gradient(
		rgba(0,0,0,0),
		rgba(0,0,0,0)),
		url('../img/galleryback6.jpg');
	;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45vh;
	border-radius: 0;
	margin-bottom: 0;
	font-family: 'Lobster', cursive;	
}

#landing-contact{
	color:#f2f2f2;
	font-size:5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-shadow: 5px 3px 2px #000000;
}

.cont{
font-family: 'Concert One', cursive;
}
#aboutlabels{
	font-family: 'Concert One', cursive;
}
#labels{
	color: white;
}

textarea{
	border-radius: 5px;
}
#imglogo{
	height: 50px;
	width: 50px;
	margin-left: 100px;
}


.image-container{
	width:100%;
	padding: 3rem;
}

.image-container img{
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;

}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 35px;
}
.cont p {
	font-size: 30px;
}
.cont li {
	font-size: 25px;
}


.image-container p{
	font-size: 20px;
}

.social-media{
	align-items: right;
}

.news-section {
	margin-bottom: 10vh;
}

.team{
	text-align: center;
}

#myImg{
	transition: 1s;
	width: 100%;
	height: 100%;
	opacity: .5
	transition: .9s;
}


#myImg:hover {
	transform: scale(1.3);
	z-index: 2;
	box-shadow: 0px 2px 20px #fff;
	opacity: 1;
}

.button {
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modallightbox {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modallightbox .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.modallightbox .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.modallightbox .close:hover,
.modallightbox .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer#mainFooter {
	background-color: gray;
	min-height: 2vh;
	padding: 2px;
	text-align: center;
}

#mainFooter p{
	font-size: 15px
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.cont #start{
		font-size: 20px;
	}

	#jumbotron-section h3{
		font-size: 50px;
		margin-top: 120px;
		margin-bottom: 10px;	
	}

	#jumbo-landing {
	height: 89vh;
	}

	#landing-event{
		font-size: 50px;
	}

	#btnknowabout {
		margin-top: 30px;
	}
	/*contact us page*/
	#landing-contact {
		font-size: 60px;
	}
	#gmap_canvas {
		border-radius: 10px;
		height: 32vh;
		width: 33.5vh;
	}
	#textarea{
		height: 25vh;
		width: 32.8vh;
	}

	#email{
		margin-top: -40px;
	}

	.textcontact {
		font-size: 60px;
	}
	#labels{
		font-size: 30px;
		color: white;
		text-align: left;
	}
	#aboutlabels{
		font-size: 20px;
		color: white;
		text-align: left;
	}

	/*road to champion*/
	#jumbotron-road h1{
	font-size: 60px;
	}
	.cont p{
		font-size: 25px;
	}
	.cont li{
		font-size: 20px;
	}

	#jumbotron-index .landing-index {
	font-size:4em;
		}

#landing-caption{

font-size:2.5em;
	

}


#btnknowabout {
	
	font-size:1.5em;
	font-family: 'Lobster', cursive;
}


	#imglogo{
	margin-left: 15px;
}

#carousel-home img {
	height: 20vh;
}

.carrouselh4 {
font-size: 10px;
}

.carousel-item h4{
font-size: 15px;

}

.card h3{
	font-size: 20px;
}

#ghost img{
	height: 190px;
}
#ghost .card{
	margin-bottom: 70px;
}

#jumbotron-index .landing-index{
	margin-top: -1vh;
}

	}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.textcontact h2{
		font-size: 30px;
	}

	#textarea {
		height: 18vh;
		width: 40vh;
	}

	#gmap_canvas {
		border-radius: 10px;
		height: 50vh;
		width: 42vh;
	}

	#carouselExampleIndicators .carousel-inner .carousel-item {
		font-size: 15px;
	}

	#carouselExampleIndicators .carousel-inner .carousel-item .next {
		font-size: 40px;	
	}


	#carouselExampleIndicators .carousel-inner .carousel-item #btnknowabout {
		font-size: 20px;
	}
	#imglogo{
	margin-left: 40px;
}

#carousel-home img {
	height: 40vh;
}


.carousel-item h4{
font-size: 30px;

}


.card h3{
	font-size: 25px;
}

#ghost img{
	height: 112px;
}

#ghost .card{
	height: 180px;
}

#fire img{
	height: 95px;
}


#ice img{
	height: 95px;
}

#fairy img{
	height: 95px;
}

#psy img{
	height: 95px;
}

#dark img{
	height: 95px;
}

#grass img{
	height: 95px;
}
#steel img{
	height: 95px;
}
#shiny img{
	height: 95px;
}
#legendary img{
	height: 95px;
}

#jumbotron-index .landing-index{
	margin-top: 5vh;
}

#al img{
	height: 95px;

}

#vill {
	padding-bottom: 30px;
}

}





@media only screen and (min-width: 1024px) and (max-width: 1440px) {

	#textarea {
		height: 20vh;
		width: 54.5vh;
	}

	#gmap_canvas {
		border-radius: 10px;
		height: 54vh;
		width: 56vh;
	}

	#carouselExampleIndicators .carousel-inner .carousel-item {
		font-size: 15px;
	}

	#carouselExampleIndicators .carousel-inner .carousel-item .next {
		font-size: 40px;	
	}


	#carouselExampleIndicators .carousel-inner .carousel-item #btnknowabout {
		font-size: 30px;
	}

	.card h3{
	font-size: 30px;

}
	#ghost img{
	height: 155px;
}


#fire img{
	height: 130px;
}


#ice img{
	height: 130px;
}

#fairy img{
	height: 130px;
}

#psy img{
	height: 130px;
}

#dark img{
	height: 130px;
}

#grass img{
	height: 120px;
}
#steel img{
	height: 120px;
}
#shiny img{
	height: 130px;
}

#ice .card{
padding-bottom: 38px;
}

#ice .card{
padding-bottom: 38px;
}

#shiny .card {
	padding-bottom: 38px;

}

#legendary img{
	height:140px;
}

#jumbotron-index .landing-index{
	margin-top: 10vh;
}



}



@media only screen and (min-width: 1440px) and (max-width: 1700px) {


	#textarea {
		height: 20vh;
		width: 78vh;
	}

	#gmap_canvas {
		border-radius: 10px;
		height: 50vh;
		margin-left: 3vh;
		width: 75vh;
	}

}

@media only screen and (min-width: 1701px)  {

	#textarea {
		height: 20vh;
		width: 95vh;
	}

	#gmap_canvas {
		border-radius: 10px;
		height: 50vh;
		margin-left: 3vh;
		width: 92vh;
	}

}